 

.click {
    background-color: blue;
    font-style: bold;
    font-size: 24px;
    border: none;
    color: whitesmoke;
    height: 40px;
    width: 70;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 35px;
    box-shadow: 10px 10px 15px black;
    vertical-align: right;
    padding: auto;
}

.click:hover{
background-color: blueviolet;
color:antiquewhite;
opacity: 0.7;
transition: opacity 1s,
            background 2s,
            color 2s;
}

.click:active{
opacity: 0.5;
background-color: green;
color: red;
transition: background 2s,
            color 2s;
}
.chao{
background-color: palevioletred;
color: blue;
border: none;
border-radius: 10px;
font-weight: 300;
cursor: pointer;
height: 40px;
width: 75px;
box-shadow: 10px 10px 50px rgba(0,0,0, 0.15);
}
.chao:hover{
background-color: blue;
color: palegoldenrod;
opacity: 0.84;
transition: opacity 1s,
            background  1.5s ,
            color 1s;
}
.chao:active{ 
background-color: red;
opacity: 0.5;
transform: opacity 1s,
        background 1s;
} /*click active*/
.chao:end{
background-color: red;
}
.phan:hover{
    opacity: 0.6;
    background-color: blue;
    color: white;
    transition: background 1s,
                color 1s;
}